In [1]:
from mysql import connector as con

In [2]:
db = con.connect(
  host="localhost",
  user="root",
  password="zouheir6",
  database="gestion_budget"
)
cur = db.cursor()

print(cur)

MySQLCursor: (Nothing executed yet)

In [3]:
import pandas as pd

xls = pd.read_excel("C:\\Users\\Zouheir\\Angular\\gestion-budget\\MARCHES EN COURS EXP.xlsx", sheet_name="INFOS GENERALES MARCHES")

xls.drop(labels=['Unnamed: 11', 'Unnamed: 0'], axis='columns', inplace=True)
xls.dropna(subset=['MO'], axis='index', inplace=True)
# xls.set_index('Unnamed: 0', inplace=True)

xls.head()

,MO,N° MARCHE,OBJET,DATE DE COMMENCEMENT,DELAI,DATE DE FIN,CAUTION DEFINITIVE,MONTANT TOTAL (TTC),MONTANT TRIMESTRIEL /FACTURE (TTC),NBRE AGENTS
0,Chef du Gouvernement Direction des Affaires Ad...,01/2018,Gardiennage et surveillance des Bâtiments Admi...,2018-03-16,reconductible en 3 ans,2021-03-01,22212,740400.00,185100,17.0
2,Direction Réginale de l'Habitat et de la Polit...,01/DPS/GARD/2018,"Les prestations de gardiennage, de sécurité et...",2018-07-01,reconductible en 3 ans,2020-12-31,4320,143996.88,"35900,59/ 36295,10",4.0
4,Conseil de la Concurrence,01CCRG/2018,Prestations de sécurité et surveillance et de ...,2018-11-01,reconductible en 3 ans,2020-12-31,12466,415501.92,103875,7.0
6,Institut National de l'Aménagement et de l'Urb...,1/2019,Gardiennage et surveillance des locaux de l'INAU,2019-04-01,reconductible en 3 ans,2022-04-01,6908,230256.00,57564,6.0
8,Direction Régionale du Ministère de la Santé à...,03/2020,Surveillance et Gardiennage des locaux de la D...,2020-07-04,reconductible en 3 ans,2023-07-04,12564.1,418804.56,104701,5.0

In [4]:
objlist = xls.to_dict(orient='record')

In [11]:
for o in objlist:
    o['DATE DE COMMENCEMENT'] = str(o['DATE DE COMMENCEMENT'])
    o['DATE DE FIN'] = str(o['DATE DE FIN'])
    
#     sql = f"""INSERT INTO `markets` (`market_id`, `mo`, `market_no`, `object`, `begin_date`, `end_date`, `deadline`, `def_caution`, `total_sum`, `trimester_sum`, `agents_number`) 
#     VALUES (NULL, "{o['MO']}", "{o['N° MARCHE']}", "{o['OBJET']}", "{o['DATE DE COMMENCEMENT']}", "{o['DATE DE FIN']}", '{o["DELAI"]}', '{o['CAUTION DEFINITIVE']}', '{o['MONTANT TOTAL (TTC)']}', '{o["MONTANT TRIMESTRIEL /FACTURE (TTC)"]}', '{o["NBRE AGENTS"]}');"""
#     print(sql, '\n')
#     cur.execute(sql)

# db.commit()

In [6]:
o

{'MO': 'Chef du Gouvernement Direction des Affaires Administratives et Financières',
 'N° MARCHE': '01/2018',
 'OBJET': 'Gardiennage et surveillance des Bâtiments Administratifs des Services du Chef du Gouvernement',
 'DATE DE COMMENCEMENT': Timestamp('2018-03-16 00:00:00'),
 'DELAI': 'reconductible en 3 ans',
 'DATE DE FIN': Timestamp('2021-03-01 00:00:00'),
 'CAUTION DEFINITIVE': 22212,
 'MONTANT TOTAL (TTC)': 740400.0,
 'MONTANT TRIMESTRIEL /FACTURE (TTC)': 185100,
 'NBRE AGENTS': 17.0}

In [9]:
str(o['DATE DE COMMENCEMENT'])

'2018-03-16 00:00:00'

In [7]:
xls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 22
Data columns (total 10 columns):
MO                                    13 non-null object
N° MARCHE                             13 non-null object
OBJET                                 13 non-null object
DATE DE COMMENCEMENT                  13 non-null datetime64[ns]
DELAI                                 13 non-null object
DATE DE FIN                           13 non-null datetime64[ns]
CAUTION DEFINITIVE                    13 non-null object
MONTANT TOTAL (TTC)                   13 non-null float64
MONTANT TRIMESTRIEL /FACTURE (TTC)    13 non-null object
NBRE AGENTS                           13 non-null float64
dtypes: datetime64[ns](2), float64(2), object(6)
memory usage: 1.1+ KB

In [12]:
import json

with open('database.json', 'w+') as f:
    json.dump({'markets': objlist}, f)