In [1]:
from mysql import connector as con

In [2]:
db = con.connect(
  host="localhost",
  user="root",
  password="zouheir6",
  database="gestion_budget"
)
cur = db.cursor()

print(cur)

MySQLCursor: (Nothing executed yet)

In [11]:
sheets = pd.ExcelFile("C://Users//Zouheir//Angular//gestion-budget/Situation caisse 07-12 au 12-12-2020.xlsx").sheet_names

In [21]:
import pandas as pd
import json
week_dict = {}
for i, sh in enumerate(sheets[:-1]):
    xls = pd.read_excel("C://Users//Zouheir//Angular//gestion-budget/Situation caisse 07-12 au 12-12-2020.xlsx", sheet_name="Lundi ", header=6)
    rename_dict = {'Budget': 'budget_type',
     'Référence marché': 'market_ref',
     'Rubrique': 'rubric',
     'Compte comptable ': 'accountant_no',
     'Opération': 'operation',
     'Private Security Atlanta': 'psa',
     'Najd': 'najd',
     "Sté d'Aménagement": 'planning_company',
     'XY CONSEIL': 'xy_advisor',
     'Direction des Etudes (Holding)': 'holding',
     'TOTAL': 'total_sum'}
    xls.rename(columns=rename_dict, inplace=True)
    # xls.drop(labels=['Unnamed: 11', 'Unnamed: 0'], axis='columns', inplace=True)
    # xls.dropna(subset=['MO'], axis='index', inplace=True)
    # xls.set_index('Unnamed: 0', inplace=True)
    xls = xls.apply(lambda x: x.fillna(0) if x.dtype.kind in 'biufc' else x.fillna(''))
    week_dict[f"{i+21}/12/2020"] = xls.to_dict(orient='record')
    



with open('database.json', 'w+') as f:
    json.dump({'funds': week_dict}, f)

xls.head()

,budget_type,market_ref,rubric,accountant_no,operation,psa,najd,planning_company,xy_advisor,holding,total_sum
0,Fonctionnement,,Achats non stockés de matières et de fournitures,61227,Fournitures de bureau,0,0.0,0.0,0.0,0.0,0.0
1,,,,61251,Achats de fournitures non stockables (Eau),0,0.0,0.0,0.0,0.0,0.0
2,,,,,Achats de fournitures non stockables (Electric...,0,0.0,0.0,0.0,0.0,0.0
3,,,,,Achats de fournitures non stockables (Carburant),0,0.0,0.0,0.0,200.0,200.0
4,,,Locations et charges locatives,61312,Location de constructions,0,0.0,0.0,0.0,0.0,0.0

In [4]:
objlist = xls.to_dict(orient='record')

In [11]:
for o in objlist:
    o['DATE DE COMMENCEMENT'] = str(o['DATE DE COMMENCEMENT'])
    o['DATE DE FIN'] = str(o['DATE DE FIN'])
    
#     sql = f"""INSERT INTO `markets` (`market_id`, `mo`, `market_no`, `object`, `begin_date`, `end_date`, `deadline`, `def_caution`, `total_sum`, `trimester_sum`, `agents_number`) 
#     VALUES (NULL, "{o['MO']}", "{o['N° MARCHE']}", "{o['OBJET']}", "{o['DATE DE COMMENCEMENT']}", "{o['DATE DE FIN']}", '{o["DELAI"]}', '{o['CAUTION DEFINITIVE']}', '{o['MONTANT TOTAL (TTC)']}', '{o["MONTANT TRIMESTRIEL /FACTURE (TTC)"]}', '{o["NBRE AGENTS"]}');"""
#     print(sql, '\n')
#     cur.execute(sql)

# db.commit()

In [6]:
o

{'MO': 'Chef du Gouvernement Direction des Affaires Administratives et Financières',
 'N° MARCHE': '01/2018',
 'OBJET': 'Gardiennage et surveillance des Bâtiments Administratifs des Services du Chef du Gouvernement',
 'DATE DE COMMENCEMENT': Timestamp('2018-03-16 00:00:00'),
 'DELAI': 'reconductible en 3 ans',
 'DATE DE FIN': Timestamp('2021-03-01 00:00:00'),
 'CAUTION DEFINITIVE': 22212,
 'MONTANT TOTAL (TTC)': 740400.0,
 'MONTANT TRIMESTRIEL /FACTURE (TTC)': 185100,
 'NBRE AGENTS': 17.0}

In [9]:
str(o['DATE DE COMMENCEMENT'])

'2018-03-16 00:00:00'

In [7]:
xls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 22
Data columns (total 10 columns):
MO                                    13 non-null object
N° MARCHE                             13 non-null object
OBJET                                 13 non-null object
DATE DE COMMENCEMENT                  13 non-null datetime64[ns]
DELAI                                 13 non-null object
DATE DE FIN                           13 non-null datetime64[ns]
CAUTION DEFINITIVE                    13 non-null object
MONTANT TOTAL (TTC)                   13 non-null float64
MONTANT TRIMESTRIEL /FACTURE (TTC)    13 non-null object
NBRE AGENTS                           13 non-null float64
dtypes: datetime64[ns](2), float64(2), object(6)
memory usage: 1.1+ KB